.iphone-pro {
  background-color: #f3ff75;
  width: 100%;
  min-width: 402px;
  min-height: 874px;
  position: relative;
}


.iphone-pro .character {
  position: absolute;
  /* 这是大圆原来的 top / left */
  top: 333px;
  left: 130px;
  /* 大圆宽高 154 × 154 */
  width: 154px;
  height: 154px;

  /* 绕人物中心（大圆中心）旋转 */
  transform-origin: center center;
  transform: rotate(310deg); /* 想调角度就改这里 */
}

/* head*/
.iphone-pro .ellipse {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 154px;
  height: 154px;
  background-color: #57a267;
  border-radius: 77px;
}

/* right eye white*/
.iphone-pro .div {
  position: absolute;
  top: 57px;   /* 390 - 333 */
  left: 69px;  /* 199 - 130 */
  width: 37px;
  height: 39px;
  background-color: #ffffff;
  border-radius: 18.5px / 19.5px;
  transform: rotate(89.5deg);
}

/* right eye black*/
.iphone-pro .ellipse-2 {
  position: absolute;
  top: 61px;   /* 394 - 333 */
  left: 72px;  /* 202 - 130 */
  width: 21px;
  height: 21px;
  background-color: #000000;
  border-radius: 10.49px / 10.51px;
  transform: rotate(89.5deg);
}

/* right eye hightlight */
.iphone-pro .ellipse-3 {
  position: absolute;
  top: 64px;   /* 397 - 333 */
  left: 75px;  /* 205 - 130 */
  width: 8px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 4.05px / 4.44px;
  transform: rotate(89.5deg);
}

/* left eye white*/
.iphone-pro .ellipse-4 {
  position: absolute;
  top: 57px;   
  left: 25px;  
  width: 37px;
  height: 39px;
  background-color: #ffffff;
  border-radius: 18.5px / 19.5px;
  transform: rotate(89.5deg);
}

/* left eye black*/
.iphone-pro .ellipse-5 {
  position: absolute;
  top: 60px;  
  left: 31px; 
  width: 21px;
  height: 21px;
  background-color: #000000;
  border-radius: 10.49px / 10.51px;
  transform: rotate(89.5deg);
}

/* left eye hightlight */
.iphone-pro .ellipse-6 {
  position: absolute;
  top: 64px;  
  left: 33px;  
  width: 8px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 4.05px / 4.44px;
  transform: rotate(89.5deg);
}

/* 如果这个是眼睛里的一小块图像 */
.iphone-pro .img {
  position: absolute;
  top: 64px;  
  left: 33px; 
  width: 9px;
  height: 8px;
}

/* 左侧身体块 */
.iphone-pro .ellipse-7 {
  position: absolute;
  top: 73px;    
  left: -20px;  
  width: 67px;
  height: 62px;
  background-color: #57a267;
  border-radius: 33.5px / 31px;
}

/* 右侧身体块（带轻微旋转） */
.iphone-pro .ellipse-8 {
  position: absolute;
  top: 77px; 
  left: 120px; 
  width: 48px;
  height: 62px;
  background-color: #57a267;
  border-radius: 24px / 31px;
  transform: rotate(21.75deg);
}

/* 左腿（或脚） */
.iphone-pro .vector {
  position: absolute;
  top: 145px;   /* 478 - 333 */
  left: -2px;   /* 128 - 130 */
  width: 60px;
  height: 54px;
}

/* 右腿（或脚） */
.iphone-pro .vector-2 {
  position: absolute;
  top: 139px;   /* 472 - 333 */
  left: 88px;   /* 218 - 130 */
  width: 52px;
  height: 60px;
}

/* left blush */
.iphone-pro .ellipse-9 {
  position: absolute;
  top: 87px;   
  left: 8px;   
  width: 27px;
  height: 12px;
  background-color: #ffd5fc;
  border-radius: 13.5px / 6px;
  z-index: 1;
}

/* right blush */
.iphone-pro .ellipse-10 {
  position: absolute;
  top: 90px;   
  left: 95px; 
  width: 26px;
  height: 11px;
  background-color: #ffd5fc;
  border-radius: 13px / 5.5px;
}

/* 头顶小装饰们（vector 图） */
.iphone-pro .vector-3 {
  position: absolute;
  top: 40px;   /* 373 - 333 */
  left: 22px;  /* 152 - 130 */
  width: 10px;
  height: 13px;
}

.iphone-pro .vector-4 {
  position: absolute;
  top: 35px;   /* 368 - 333 */
  left: 88px;  /* 218 - 130 */
  width: 10px;
  height: 9px;
}

.iphone-pro .vector-5 {
  position: absolute;
  top: 104px;  /* 437 - 333 */
  left: 44px;  /* 174 - 130 */
  width: 18px;
  height: 6px;
}

.iphone-pro .vector-6 {
  position: absolute;
  top: 95px;   /* 428 - 333 */
  left: 33px;  /* 163 - 130 */
  width: 12px;
  height: 13px;
}

/* 嘴巴 / 中间小块 */
.iphone-pro .polygon {
  position: absolute;
  top: 82px;   /* 415 - 333 */
  left: 50px;  /* 180 - 130 */
  width: 22px;
  height: 7px;
}