#circle{
	display:block;
	width:120px;
	height:120px;
	border-radius:50%;
	background-color:lightcoral;
	position:relative;
	top:290px;
	left:640px;
	z-index:4;
}
#circle1{
	display:block;
	width:200px;
	height:200px;
	border-radius:50%;
	background-color:lightblue;
	position:absolute;
	top:250px;
	left:600px;
	z-index:3;
}
#circle2{
	display:block;
	width:250px;
	height:250px;
	border-radius:50%;
	background-color:yellowgreen;
	position:absolute;
	top:227px;
	left:575px;
	z-index:2;
}
#circle3{
	display:block;
	width:315px;
	height:315px;
	border-radius:50%;
	background-color:yellow;
	position:absolute;
	top:195px;
	left:542px;
	z-index:1;
}
#circle4{
	display:block;
	width:170px;
	height:170px;
	border-radius:50%;
	background-color:limegreen;
	position:absolute;
	top:270px;
	left:290px;
	z-index:2;
	animation:color 8s linear infinite;
}
@keyframes color{
	0%{
		background: radial-gradient(circle, limegreen 50%, transparent 70%);
		opacity: 0;
		top:270px;
		left:290px;
	}
	50%{
		background: radial-gradient(circle, limegreen 50%, transparent 70%);
		opacity: 1;
		top:270px;
		left:230px;
	}
	100%{
		background: radial-gradient(circle, limegreen 50%, transparent 70%);
		opacity: 0;
		top:270px;
		left:190px;
	}
}
#circle4_1{
	display:block;
	width:170px;
	height:170px;
	border-radius:50%;
	background-color:limegreen;
	position:absolute;
	top:270px;
	left:290px;
	z-index:2;
	animation:color1 8s linear infinite;
}
@keyframes color1{
	0%{
		background: radial-gradient(circle, dodgerblue 50%, transparent 70%);
		opacity: 1;
		top:270px;
		left:290px;
	}
	50%{
		background: radial-gradient(circle, dodgerblue 50%, transparent 70%);
		opacity: 0;
		top:270px;
		left:230px;
	}
	100%{
		background: radial-gradient(circle, dodgerblue 50%, transparent 70%);
		opacity: 1;
		top:270px;
		left:190px;
	}
}
#circle5{
	display:block;
	width:170px;
	height:170px;
	border-radius:50%;
	background-color:limegreen;
	position:absolute;
	top:270px;
	left:945px;
	z-index:2;
	animation:color2 8s linear infinite;
}
@keyframes color2{
	0%{
		background: radial-gradient(circle, limegreen 50%, transparent 70%);
		opacity: 0;
		top:270px;
		left:945px;
	}
	50%{
		background: radial-gradient(circle, limegreen 50%, transparent 70%);
		opacity: 1;
		top:270px;
		left:985px;
	}
	100%{
		background: radial-gradient(circle, limegreen 50%, transparent 70%);
		opacity: 0;
		top:270px;
		left:1045px;
	}
}
#circle5_1{
	display:block;
	width:170px;
	height:170px;
	border-radius:50%;
	background-color:limegreen;
	position:absolute;
	top:270px;
	left:945px;
	z-index:2;
	animation:color3 8s linear infinite;
}
@keyframes color3{
	0%{
		background: radial-gradient(circle, dodgerblue 50%, transparent 70%);
		opacity: 1;
		top:270px;
		left:945px;
	}
	50%{
		background: radial-gradient(circle, dodgerblue 50%, transparent 70%);
		opacity: 0;
		top:270px;
		left:985px;
	}
	100%{
		background: radial-gradient(circle, dodgerblue 50%, transparent 70%);
		opacity: 1;
		top:270px;
		left:1045px;
	}
}
#circle6{
	display:block;
	width:110px;
	height:110px;
	border-radius:50%;
	background-color:yellowgreen;
	position:absolute;
	top:300px;
	left:200px;
	z-index:2;
	animation:color4 8s linear infinite;
}
@keyframes color4{
	0%{
		background:radial-gradient(circle, yellowgreen 50%, transparent 70%);
		opacity:0;
		top:300px;
		left:200px;
	}
	50%{
		background:radial-gradient(circle, yellowgreen 50%, transparent 70%);
		opacity:1;
		top:300px;
		left:160px;
	}
	100%{
		background:radial-gradient(circle, yellowgreen 50%, transparent 70%);
		opacity:0;
		top:300px;
		left:100px;
	}
}
#circle6_1{
	display:block;
	width:110px;
	height:110px;
	border-radius:50%;
	background-color:yellowgreen;
	position:absolute;
	top:300px;
	left:200px;
	z-index:2;
	animation:color5 8s linear infinite;
}
@keyframes color5{
	0%{
		background:radial-gradient(circle, skyblue 50%, transparent 70%);
		opacity:1;
		top:300px;
		left:200px;
	}
	50%{
		background:radial-gradient(circle, skyblue 50%, transparent 70%);
		opacity:0;
		top:300px;
		left:160px;
	}
	100%{
		background:radial-gradient(circle, skyblue 50%, transparent 70%);
		opacity:1;
		top:300px;
		left:100px;
	}	
}
#circle7{
	display:block;
	width:110px;
	height:110px;
	border-radius:50%;
	background-color:yellowgreen;
	position:absolute;
	top:300px;
	left:1100px;
	z-index:2;
	animation:color6 8s linear infinite;
}
@keyframes color6{
	0%{
		background:radial-gradient(circle, yellowgreen 50%, transparent 70%);
		opacity:0;
		top:300px;
		left:1100px;
	}
	50%{
		background:radial-gradient(circle, yellowgreen 50%, transparent 70%);
		opacity:1;
		top:300px;
		left:1150px;
	}
	100%{
		background:radial-gradient(circle, yellowgreen 50%, transparent 70%);
		opacity:0;
		top:300px;
		left:1220px;
	}
}
#circle7_1{
	display:block;
	width:110px;
	height:110px;
	border-radius:50%;
	background-color:yellowgreen;
	position:absolute;
	top:300px;
	left:200px;
	z-index:2;
	animation:color7 8s linear infinite;
}
@keyframes color7{
	0%{
		background:radial-gradient(circle, skyblue 50%, transparent 70%);
		opacity:1;
		top:300px;
		left:1100px;
	}
	50%{
		background:radial-gradient(circle, skyblue 50%, transparent 70%);
		opacity:0;
		top:300px;
		left:1150px;
	}
	100%{
		background:radial-gradient(circle, skyblue 50%, transparent 70%);
		opacity:1;
		top:300px;
		left:1220px;
	}	
}
#circle8{
	display:block;
	width:80px;
	height:80px;
	border-radius:50%;
	background-color:lawngreen;
	position:absolute;
	top:320px;
	left:140px;
	z-index:2;
	animation:color8 8s linear infinite;
}
@keyframes color8{
	0%{
		background:radial-gradient(circle, lawngreen 50%, transparent 70%);
		opacity:0;
		top:320px;
		left:140px;
	}
	50%{
		background:radial-gradient(circle, lawngreen 50%, transparent 70%);
		opacity:1;
		top:320px;
		left:90px;
	}
	100%{
		background:radial-gradient(circle, lawngreen 50%, transparent 70%);
		opacity:0;
		top:320px;
		left:20px;
	}
}
#circle8_1{
	display:block;
	width:80px;
	height:80px;
	border-radius:50%;
	background-color:lawngreen;
	position:absolute;
	top:320px;
	left:140px;
	z-index:2;
	animation:color9 8s linear infinite;
}
@keyframes color9{
	0%{
		background:radial-gradient(circle, aliceblue 50%, transparent 70%);
		opacity:1;
		top:320px;
		left:140px;
	}
	50%{
		background:radial-gradient(circle, aliceblue 50%, transparent 70%);
		opacity:0;
		top:320px;
		left:90px;
	}
	100%{
		background:radial-gradient(circle, aliceblue 50%, transparent 70%);
		opacity:1;
		top:320px;
		left:20px;
	}
}
#circle9{
	display:block;
	width:80px;
	height:80px;
	border-radius:50%;
	background-color:lawngreen;
	position:absolute;
	top:320px;
	left:1190px;
	z-index:2;
	animation:color10 8s linear infinite;
}
@keyframes color10{
	0%{
		background:radial-gradient(circle, lawngreen 50%, transparent 70%);
		opacity:0;
		top:320px;
		left:1190px;
	}
	50%{
		background:radial-gradient(circle, lawngreen 50%, transparent 70%);
		opacity:1;
		top:320px;
		left:1240px;
	}
	100%{
		background:radial-gradient(circle, lawngreen 50%, transparent 70%);
		opacity:0;
		top:320px;
		left:1310px;
	}
}
#circle9_1{
	display:block;
	width:80px;
	height:80px;
	border-radius:50%;
	background-color:lawngreen;
	position:absolute;
	top:320px;
	left:1190px;
	z-index:2;
	animation:color11 8s linear infinite;
}
@keyframes color11{
	0%{
		background:radial-gradient(circle, aliceblue 50%, transparent 70%);
		opacity:1;
		top:320px;
		left:1190px;
	}
	50%{
		background:radial-gradient(circle, aliceblue 50%, transparent 70%);
		opacity:0;
		top:320px;
		left:1240px;
	}
	100%{
		background:radial-gradient(circle, aliceblue 50%, transparent 70%);
		opacity:1;
		top:320px;
		left:1310px;
	}
}
.block{
	display:inline-block;
	width:30px;
	height:200px;
	background-color: lightcoral;
	position:absolute;
	top:105px;
	left:685px;
	z-index:5;
}
#tiltedblock{
	display:inline-block;
	width:30px;
	height:200px;
	background-color:lightcoral;
	position:absolute;
	top:125px;
	left:750px;
	transform:rotate(30deg) skewY(-35deg);
	z-index:5;
}
#tiltedblock1{
	display:inline-block;
	width:30px;
	height:200px;
	background-color:lightcoral;
	position:absolute;
	top:125px;
	left:620px;
	transform:rotate(-30deg) skewY(35deg);
	z-index:5;
}
#block1{
	display:inline-block;
	width:200px;
	height:30px;
	background-color: lightcoral;
	position:absolute;
	top:340px;
	left:460px;
	z-index:5;
}
#block2{
	display:inline-block;
	width:200px;
	height:30px;
	background-color: lightcoral;
	position:absolute;
	top:340px;
	left:745px;
	z-index:5;
}
#block3{
	display:inline-block;
	width:30px;
	height:200px;
	background-color: lightcoral;
	position:absolute;
	top:385px;
	left:685px;
	z-index:5;
}
#tiltedblock2{
	display:inline-block;
	width:30px;
	height:200px;
	background-color:lightcoral;
	position:absolute;
	top:195px;
	left:810px;
	transform:rotate(70deg) skewY(-50deg);
	z-index:5;
}
#tiltedblock3{
	display:inline-block;
	width:30px;
	height:200px;
	background-color:lightcoral;
	position:absolute;
	top:195px;
	left:560px;
	transform:rotate(-70deg) skewY(50deg);
	z-index:5;
}
#tiltedblock4{
	display:inline-block;
	width:30px;
	height:200px;
	background-color:lightcoral;
	position:absolute;
	top:320px;
	left:800px;
	transform:rotate(120deg) skewY(50deg);
	z-index:5;
}
#tiltedblock5{
	display:inline-block;
	width:30px;
	height:200px;
	background-color:lightcoral;
	position:absolute;
	top:370px;
	left:760px;
	transform:rotate(150deg) skewY(35deg);
	z-index:5;
}
#tiltedblock6{
	display:inline-block;
	width:30px;
	height:200px;
	background-color:lightcoral;
	position:absolute;
	top:370px;
	left:605px;
	transform:rotate(-150deg) skewY(-35deg);
	z-index:5;
}
#tiltedblock7{
	display:inline-block;
	width:30px;
	height:200px;
	background-color:lightcoral;
	position:absolute;
	top:320px;
	left:575px;
	transform:rotate(-120deg) skewY(-50deg);
	z-index:5;
}
#container{
	display:block;
	width:1800px;
	height:900px;
	background-color:lightcoral;
	position:relative;
	z-index:1;
}
