#container{
	display:inline-block;
	width:1450px;
	height:1000px;
	background-color:royalblue;
	position:relative;
	z-index:0;
}
.block{
	display:inline-block;
	width:100px;
	height:200px;
	border-width: 10px;
	border-color:darkred;
	border-style: solid;
	border-radius: 30px;
	background-color: darkblue;
	position:absolute;
	top:400px;
	left:500px;
	z-index:1;
}
#block1{
	display:inline-block;
	width:120px;
	height:230px;
	border-width: 8px;
	border-color:red;
	border-style: solid;
	border-radius: 30px;
	background-color: transparent;
	position:absolute;
	top:400px;
	left:500px;
	z-index:1;
}
#block2{
	display:inline-block;
	width:150px;
	height:250px;
	border-width: 6px;
	border-color:red;
	border-style: solid;
	border-radius: 30px;
	background-color: transparent;
	position:absolute;
	top:400px;
	left:500px;
	z-index:1;
}
#block3{
	display:inline-block;
	width:180px;
	height:270px;
	border-width: 6px;
	border-color:red;
	border-style: solid;
	border-radius: 30px;
	background-color: transparent;
	position:absolute;
	top:400px;
	left:500px;
	z-index:1;
}
#block4{
	display:inline-block;
	width:210px;
	height:290px;
	border-width: 6px;
	border-color:red;
	border-style: solid;
	border-radius: 30px;
	background-color: transparent;
	position:absolute;
	top:400px;
	left:500px;
	z-index:1;
}
#block5{
	display:inline-block;
	width:240px;
	height:310px;
	border-width: 6px;
	border-color:red;
	border-style: solid;
	border-radius: 30px;
	background-color: transparent;
	position:absolute;
	top:400px;
	left:500px;
	z-index:1;
}
#block5{
	display:inline-block;
	width:275px;
	height:330px;
	border-width: 6px;
	border-color:red;
	border-style: solid;
	border-radius: 30px;
	background-color: transparent;
	position:absolute;
	top:400px;
	left:500px;
	z-index:1;
}
#block6{
	display:inline-block;
	width:335px;
	height:365px;
	border-width: 6px;
	border-color:red;
	border-style: solid;
	border-radius: 30px;
	background-color: transparent;
	position:absolute;
	top:400px;
	left:500px;
	z-index:1;
}
#cube1{
	display:inline-block;
	width:10px;
	height:10px;
	background-color:yellow;
	position:absolute;
	top:460px;
	left:560px;
	z-index:2;
}
#cube2{
	display:inline-block;
	width:20px;
	height:20px;
	background-color:yellow;
	position:absolute;
	top:480px;
	left:580px;
	z-index:2;
}
#cube3{
	display:inline-block;
	width:30px;
	height:30px;
	background-color:yellow;
	position:absolute;
	top:515px;
	left:610px;
	z-index:2;
}
#cube4{
	display:inline-block;
	width:40px;
	height:40px;
	background-color:yellow;
	position:absolute;
	top:565px;
	left:665px;
	z-index:2;
}
#cube5{
	display:inline-block;
	width:50px;
	height:50px;
	background-color:yellow;
	position:absolute;
	top:625px;
	left:735px;
	z-index:2;
}
#cube6{
	display:inline-block;
	width:60px;
	height:60px;
	background-color:yellow;
	position:absolute;
	top:705px;
	left:815px;
	z-index:2;
}
#cube7{
	display:inline-block;
	width:85px;
	height:85px;
	background-color:yellow;
	position:absolute;
	top:800px;
	left:915px;
	z-index:2;
}