#container {
	display: flex;
	justify-content: center;   
	align-items: center;    
	width: 100vw;
	height: 100vh;
	background-color: seashell;
	margin: 0;
}

#word {
  position: absolute;          
  top: 30%;                    
  left: 50%;                   
  transform: translate(-50%, -50%);  
  font-size: 60px;
  color: slateblue;
  z-index: 10;
}
#three{
	position:absolute;
	top:40%;
	left:50%;
	transform: translate(-50%, -50%);  
	font-size: 25px;
    color: slateblue;
    z-index: 10;
}
#container{
	position:relative; 
	width:100vw; 
	height:100vh; 
	background:seashell; 
	z-index:1;}
#word{
	position:absolute; 
	top:20%;
    left:50%; 
    transform:translate(-50%,-50%); 
    z-index:5;}
a.btn{
	position:absolute; 
	top:33%; 
	left:50%; 
	transform:translate(-50%,-50%);
    padding:12px 28px; 
    background:slateblue; 
    color:#fff; 
    text-decoration:none; 
    border-radius:8px; 
    z-index:10;
  }
a.btn1{
	position:absolute; 
	top:42%; 
	left:50%; 
	transform:translate(-50%,-50%);
    padding:12px 28px; 
    background:slateblue; 
    color:#fff; 
    text-decoration:none; 
    border-radius:8px; 
    z-index:10;
  }
 a.btn2{
	position:absolute; 
	top:51%; 
	left:50%; 
	transform:translate(-50%,-50%);
    padding:12px 28px; 
    background:slateblue; 
    color:#fff; 
    text-decoration:none; 
    border-radius:8px; 
    z-index:10;
  }
  a.btn3{
	position:absolute; 
	top:60%; 
	left:50%; 
	transform:translate(-50%,-50%);
    padding:12px 28px; 
    background:slateblue; 
    color:#fff; 
    text-decoration:none; 
    border-radius:8px; 
    z-index:10;
  }
  a.btn4{
	position:absolute; 
	top:69%; 
	left:50%; 
	transform:translate(-50%,-50%);
    padding:12px 28px; 
    background:slateblue; 
    color:#fff; 
    text-decoration:none; 
    border-radius:8px; 
    z-index:10;
  }
   a.btn5{
	position:absolute; 
	top:78%; 
	left:50%; 
	transform:translate(-50%,-50%);
    padding:12px 28px; 
    background:slateblue; 
    color:#fff; 
    text-decoration:none; 
    border-radius:8px; 
    z-index:10;
  }