      .button{
        position:absolute;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 40px;
        border: 2px solid #888;
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background-color: white;
        color:#27273B;
      }
      .button:hover{
        background-color:#858585;
      }
      #button1{
        top:20%;
        left:10%;
      }
      #button2{
        top:30%;
        left:10%;
      }
      #button3{
        top:40%;
        left:10%;
      }
      #button4{
        top:50%;
        left:10%;
      }
      .backgroundbox{
      position: fixed;    
      top: 0;
      left: 0;
      width: 100vw;       
      height: 100vh;      
      background: linear-gradient(90deg, #ADAD28, #FFF461, #FCEEA7);
      z-index: -1;        
      transition: background 1s ease;
      background-image:
    repeating-linear-gradient(90deg, #ADAD28 0 10px, #FFF461 10px 20px),
    repeating-linear-gradient(0deg, #ADAD28 0 10px, #FCEEA7 10px 20px);
  background-blend-mode: overlay;

    }
      .label {
        position: absolute;
        top: 14%;
        left: 85%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        color: white;
        text-align: center;
        -webkit-text-stroke: 0.8px #222;     
        text-stroke: 2px #222;   
      }
      #randomImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70vmin;
        border-radius: 16px；
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      #randomImg.show {
        opacity: 1;
      }
      #randomImg2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70vmin;
        border-radius: 16px；
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      #randomImg2.show {
        opacity: 1;
      }
       #randomImg3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70vmin;
        border-radius: 16px；
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      #randomImg3.show {
        opacity: 1;
      }
      #returnBtn {
        position: absolute;
        top: 80%;
        left: 20%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 40px;
        border: 2px solid #888;
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background-color: #ADAD28;
        color: #4F4F08;
        transition: background 0.3s ease;
        top:70%;
        left:10%;
      }
      #returnBtn:hover {
        background-color: #CFCF4F;
      }
      #text{
        position:fixed;
        color:white;
        font-size: 50px;
        font-weight: bold;
        top:8%;
        left:50%;
        transform: translate(-50%, -50%);
        -webkit-text-stroke: 1.5px #222;  
      }