.app-container {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
  z-index: 0;

}

.yellow{
  display: flex;
  position: relative;
  width:5%;
  aspect-ratio: 1/1;
  background-color: #F4FF75;
  z-index: 1;

}


