.box{
	display:inline-flex;
	position:relative;
	width:50px;
	height:60vh;
	background: orangered;
  	transition: all 0.3s ease; 
}
.box:hover {
  transform: scale(1.15);
  background: gold;
  box-shadow: 0 0 10px gold;
  color: skyblue;
}
.box.active {
  background: dodgerblue;
  box-shadow: none;
  transform: scale(1.15);
}
.box.active:hover {
  background: dodgerblue !important;
  box-shadow: none;
}
img {
  position: absolute;
  top: 65%;            
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 1200px;
  z-index: 10; 
  pointer-events: none;              
}