#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* smallcanvas 居中显示 + 百分比大小 */
#smallcanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;   
  height: 80%; 
  transform: translate(-50%, -50%); 
  background-color: white;
  border: 2px solid #2B7062;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}
#generate {
  position: absolute;
  top: 91%;                 
  left: 50%;                
  transform: translateX(-50%); 
  width: 20%;
  height: 8%;
  background: #00FFDB;
  border: 1px #3CAB9B;
  border-radius: 8px;
}